# **Python Sets.**

* A set is an unordered collection of items. Every element is unique (no duplicates) and must be immutable (which cannot be changed).
* However, the set itself is mutable. We can add or remove items from it.
* Sets can be used to perform mathematical set operations like union, intersection, symmetric difference etc.
* set always removes duplication.
* set always present the list in sorted format.

### **How to create a set?**
* A set is created by placing all the items (elements) inside curly braces {}, separated by comma or by using the built-in function set().
* It can have any number of items and they may be of different types (integer, float, tuple, string etc.). But a set cannot have a mutable element, like list, set or dictionary, as its element.but we can have tuple in it.

In [4]:
s={1,2,3}
s

{1, 2, 3}

In [2]:
type(s)

set

In [5]:
s1=set()
s1

set()

In [15]:
#making sets from lists,tuples and string
s2={[3,4,5]}
s2

TypeError: unhashable type: 'list'

In [8]:
set([3,4,5])

{3, 4, 5}

In [9]:
set((3,4,5))

{3, 4, 5}

In [12]:
#no repetition
set([11,2,11,3,4,5,11,2])

{2, 3, 4, 5, 11}

In [13]:
#sorting character.
set([21,4,0,61,9])

{0, 4, 9, 21, 61}

In [16]:
set('python is great')

{' ', 'a', 'e', 'g', 'h', 'i', 'n', 'o', 'p', 'r', 's', 't', 'y'}

In [17]:
set('python')

{'h', 'n', 'o', 'p', 't', 'y'}

In [20]:
ss={1,2,'hi',(4,5,6)}
ss

{1, 2, (4, 5, 6), 'hi'}

In [21]:
set(1,2,'hi',(4,5,6))

TypeError: set expected at most 1 arguments, got 4

### **Set comprehension method.**

In [23]:
#there is no such particular method.so we need to make it using list comprehension.
set([int(x) for x in range(4)])

{0, 1, 2, 3}

### **Updating, adding or removing from sets.**
* Sets are mutable. But since they are unordered, indexing have no meaning.
* We cannot access or change an element of set using indexing or slicing. Set does not support it.
* We can add single element using the add() method and multiple elements using the update() method. 
    * The update() method can take tuples, lists, strings or other sets as its argument. In all cases, duplicates are avoided.
    
* A particular item can be removed from set using methods, discard() and remove().
* The only difference between the two is that, while using discard() if the item does not exist in the set, it remains unchanged. But remove() will raise an error in such condition.

In [25]:
s4={1,2,3}
s4.add(4)
s4

{1, 2, 3, 4}

In [26]:
s4.add((6,7,8))
s4

{1, 2, 3, 4, (6, 7, 8)}

In [30]:
#difference between remove and discard.
s5={1,2,3,4,5,6}
s5.discard(3)
s5

{1, 2, 4, 5, 6}

In [28]:
s5.remove(3)
s5

KeyError: 3

In [29]:
#hence discard will not throw error even if element isn't presentS
s5.discard(3)
s5

{1, 2, 4, 5, 6}

### **Python Set Operations.**
* Sets can be used to carry out mathematical set operations like union, intersection, difference and symmetric difference. We can do this with operators or methods.
* **‘|’ =** union operator.
* **A.union(B) =** union function.
* **& =** intersection operator.
* **A.intersection(B) =** intersection function.
* **‘-’ =** set difference operator.
* **A.difference(B) =** set difference function.
* **B.difference(A)** 
#### Symmetric Difference of A and B is a set of elements in both A and B except those that are common in both.
* **‘^’ =** symmetric difference operator
* **A.symmetric_difference(B) =** symmetric difference function.

![Imgur](https://i.imgur.com/VgUYcJj.png)

In [33]:
s6={7,8,9,10,11}
s7={12,8,9,13,14}
print('Union Operation= ','s6|s7= ',s6|s7)
print('Union Operation= ','s6.union(s7)= ',s6.union(s7))
print('Intersection Operation= ','s6&s7= ',s6&s7)
print('Intersection Operation= ','s6.intersection(s7)= ',s6.intersection(s7))
print('Symmetric Operation= ','s6^s7= ',s6^s7)
print('Symmetric Operation= ','s6.symmetric_difference(s7)= ',s6.symmetric_difference(s7))
print('Difference Operation= ','s6-s7= ',s6-s7)
print('Difference Operation= ','s6.difference(s7)= ',s6.difference(s7))

Union Operation=  s6|s7=  {7, 8, 9, 10, 11, 12, 13, 14}
Union Operation=  s6.union(s7)=  {7, 8, 9, 10, 11, 12, 13, 14}
Intersection Operation=  s6&s7=  {8, 9}
Intersection Operation=  s6.intersection(s7)=  {8, 9}
Symmetric Operation=  s6^s7=  {7, 10, 11, 12, 13, 14}
Symmetric Operation=  s6.symmetric_difference(s7)=  {7, 10, 11, 12, 13, 14}
Difference Operation=  s6-s7=  {10, 11, 7}
Difference Operation=  s6.difference(s7)=  {10, 11, 7}

### **Python Set Methods**
* **There are many set methods, some of which we have already used above. Here is a list of all the methods that are available with set objects.**
1. **add()	=** Add an element to a set
2. **clear()	=** Remove all elements form a set
3. **copy() =** Return a shallow copy of a set
4. **difference() =** Return the difference of two or more sets as a new set
5. **difference_update()	=** Remove all elements of another set from this set
6. **discard() =** Remove an element from set if it is a member. (Do nothing if the element is not in set)
7. **intersection()	=** Return the intersection of two sets as a new set
8. **intersection_update() =** Update the set with the intersection of itself and another
9. **isdisjoint() =** Return True if two sets have a null intersection
10. **issubset() =** Return True if another set contains this set
11. **issuperset() =** Return True if this set contains another set
12. **pop() =** Remove and return an arbitrary set element. Raise KeyError if the set is empty
13. **remove() =** Remove an element from a set. If the element is not a member, raise a KeyError
14. **symmetric_difference()	 =** Return the symmetric difference of two sets as a new set
15. **symmetric_difference_update() =** Update a set with the symmetric difference of itself and another
16. **union() =** Return the union of sets in a new set
17. **update() =** Update a set with the union of itself and others

In [34]:
s2={1,2,3,4,5}
s2.add(7)
s2

{1, 2, 3, 4, 5, 7}

In [35]:
s2.clear()
s2

set()

In [36]:
s3={1,2,3,4,5,5,7,8,9,11}
print('id(s3): ',id(s3))
s4=s3.copy()
print('s4: ',s4)
print('id(s4): ',id(s4))

id(s3):  140024864555304
s4:  {1, 2, 3, 4, 5, 7, 8, 9, 11}
id(s4):  140024864972136

In [38]:
s2={1,2,3,4,5}
s3={1,2,3,4,5,5,7,8,9,11}
s3.difference_update(s2)
s3

{7, 8, 9, 11}

In [39]:
s2={1,2,3,4,5}
s3={1,2,3,4,5,5,7,8,9,11}
s3.intersection_update(s2)
s3

{1, 2, 3, 4, 5}

In [40]:
s2={1,2,3,4,5}
s3={1,2,3,4,5,5,7,8,9,11}
s3.isdisjoint(s2)

False

In [43]:
s2={1,2,3,4,5}
s3={1,2,3,4,5,5,7,8,9,11}
s2.issubset(s3) #it means is s2 subset of s2

True

In [45]:
s3={1,2,3,4,5,5,7,8,9,11}
s3.pop()
s3

{2, 3, 4, 5, 7, 8, 9, 11}

In [46]:
s3={1,2,3,4,5,5,7,8,9,11}
s3.remove(3)
s3

{1, 2, 4, 5, 7, 8, 9, 11}

###  **Built-in Functions with Set.**
* Built-in functions like all(), any(), enumerate(), len(), max(), min(), sorted(), sum() etc. are commonly used with set to perform different tasks.
 
**Built-in Functions with Set**
1. **all()** = Return True if all elements of the set are true (or if the set is empty).
2. **any()** = Return True if any element of the set is true. If the set is empty, return False.
3. **len()** = Return the length (the number of items) in the set.
4. **max()** = Return the largest item in the set.
5. **min()** = Return the smallest item in the set.
6. **sorted()** = Return a new sorted list from elements in the set(does not sort the set itself).
7. **sum()** = Return the sum of all elements in the set.

In [54]:
s3={1,2,3,4,5,5,7,8,9,11}
print('all(s3): ',all(s3))
print('any(s3): ',any(s3))
print('len(s3): ',len(s3))
print('max(s3): ',max(s3))
print('min(s3): ',min(s3))
print('sorted(s3): ',sorted(s3))
print('sorted(s3,reverse=True): ',sorted(s3,reverse=True))
print('sum(s3): ',sum(s3))

all(s3):  True
any(s3):  True
len(s3):  9
max(s3):  11
min(s3):  1
sorted(s3):  [1, 2, 3, 4, 5, 7, 8, 9, 11]
sum(s3):  50

### **Membership through sets.**
* We can test if an item exists in a set or not, using the keyword **'in'**.

In [47]:
s3={1,2,3,4,5,5,7,8,9,11}
4 in s3

True

In [48]:
s3={1,2,3,4,5,5,7,8,9,11}
5 not in s3

False

### **Iterating Through a Set.**
* Using a for loop, we can iterate through each item in a set.

In [49]:
s3={1,2,3,4,5,5,7,8,9,11}
for i in s3:
    print(i)

1
2
3
4
5
7
8
9
11

In [52]:
s3={1,2,3,4,5,5,7,8,9,11}
for i in s3:
    print(i,end=' ')

1 2 3 4 5 7 8 9 11

* An empty set evaluates to False in Boolean context. For example:

In [1]:
skills = set()

if not skills:
    print('Empty sets are falsy')

Empty sets are falsy

### **Frozen a set**
* To make a set immutable, you use the built-in function called **frozenset()**. 
* The frozenset() returns a new immutable set from an existing one. For example:

In [2]:
skills = {'Problem solving', 'Software design', 'Python programming'}
skills = frozenset(skills)

In [3]:
type(skills)

frozenset

In [4]:
skills.update('Java')

AttributeError: 'frozenset' object has no attribute 'update'

In [5]:
skills.add('Java')

AttributeError: 'frozenset' object has no attribute 'add'

* By default, the index starts at zero. To change this, you pass the starting value to the second argument of the enumerate() function. For example:

In [7]:
skills = {'Problem solving', 'Software design', 'Python programming'}

for index, skill in enumerate(skills, 1):
    print(f"{index}.{skill}")

1.Python programming
2.Problem solving
3.Software design