# **Python Tuples**
* Tuples are used to store multiple items in a single variable.

* Tuple is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Set, and Dictionary, all with different qualities and usage.

* A tuple is a collection which is ordered and unchangeable.

* Tuples are written with **round()** brackets.

In [1]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

## **Tuple Items**
* Tuple items are ordered, unchangeable, and allow duplicate values.

* Tuple items are indexed, the first item has index [0], the second item has index [1] etc.

## **Ordered**
* When we say that tuples are ordered, it means that the items have a defined order, and that order will not change.

## **Unchangeable**
* Tuples are unchangeable, meaning that we cannot change, add or remove items after the tuple has been created.

## **Allow Duplicates**
* Since tuples are indexed, they can have items with the same value:

In [2]:
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

## **Tuple Length**
* To determine how many items a tuple has, use the **len()** function:

In [3]:
thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

3

## **Create Tuple With One Item**
* To create a tuple with only one item, you have to add a comma after the item, otherwise Python will not recognize it as a tuple.

In [4]:
thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

## **Tuple Items - Data Types**
* Tuple items can be of any data type:

In [5]:
tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)

* A tuple with strings, integers and boolean values:

In [6]:
tuple1 = ("abc", 34, True, 40, "male")

## **type()**

* From Python's perspective, tuples are defined as objects with the data type 'tuple':

In [7]:
mytuple = ("apple", "banana", "cherry")
print(type(mytuple))

<class 'tuple'>

## **The tuple() Constructor**
* It is also possible to use the tuple() constructor to make a tuple.

In [8]:
thistuple = tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(thistuple)

('apple', 'banana', 'cherry')

## **Unpacking Tuple**
* Unpacking a tuple means splitting the tuple’s elements into individual variables. For example:

In [9]:
x, y = (1, 2)

In [10]:
x

1

In [11]:
y

2

In [12]:
x,y

(1, 2)

* x,y is a tuple of two variables x and y.

* The right side is also a tuple of two integers 1 and 2.

* The expression assigns the tuple elements on the right side (1, 2) to each variable on the left side (x, y) based on the relative position of each element.

In [13]:
x, y ,z = 10, 20, 30

In [14]:
x,y,z

(10, 20, 30)

In [15]:
x

10

In [16]:
y

20

In [17]:
z

30

In [18]:
x,y

(10, 20)

In [19]:
y,z

(20, 30)

In [20]:
numbers = 10, 20, 30
print(type(numbers))

<class 'tuple'>

## **Using unpacking tuple to swap values of two variables**
* Traditionally, to swap the values of two variables, you would use a temporary variable like this:

In [21]:
x = 10
y = 20

print(f'x={x}, y={y}')

tmp = x
x = y
y = tmp

print(f'x={x}, y={y}')

x=10, y=20
x=20, y=10

In [22]:
#In Python, you can use the unpacking tuple syntax to achieve the same result:
x = 10
y = 20

print(f'x={x}, y={y}')
#In this expression, Python evaluates the right-hand side first 
#and then assigns the variable from the left-hand side to the values from the right-hand side.
x, y = y, x

print(f'x={x}, y={y}')

x=10, y=20
x=20, y=10

## **ValueError: too many values to unpack**
* The following example unpacks the elements of a tuple into variables. However, it’ll result in an error:

In [23]:
x, y = 10, 20, 30

ValueError: too many values to unpack (expected 2)

* This error is because the right-hand side returns three values while the left-hand side only has two variables.
* To fix this, you can add a _ variable:

In [29]:
x, y, _ = 10, 20, 30

In [30]:
x

10

In [31]:
y

20

In [32]:
_

30

* The **_** variable is a regular variable in Python. By convention, it’s called a dummy variable.

* Typically, you use the dummy variable to unpack when you don’t care and use its value afterward.

## **Extended unpacking using the * operator**
* Sometimes, you don’t want to unpack every single item in a tuple. 
* For example, you may want to unpack the first and second elements. In this case, you can use the * operator. For example:

In [25]:
r, g, *other = (192, 210, 100, 0.5)

In [26]:
r

192

In [27]:
g

210

In [28]:
other

[100, 0.5]

* Notice that you can only use the * operator once on the left-hand side of an unpacking assignment.

* The following example results in error:

In [33]:
x, y, *z, *t = (10, 20, 30, '10:30')

SyntaxError: multiple starred expressions in assignment (3014806510.py, line 1)

## **Using the * operator on the right hand side**
* Python allows you to use the * operator on the right-hand side. Suppose that you have two tuples:

In [34]:
odd_numbers = (1, 3, 5)
even_numbers = (2, 4, 6)

* The following example uses the * operator to unpack those tuples and merge them into a single tuple:

In [35]:
numbers = (*odd_numbers, *even_numbers)
print(numbers)

(1, 3, 5, 2, 4, 6)