# **Python Tuples**

# **Topics**

1. **Introduction** 
2. **Tuple Items**
3. **Create Tuple With One Item**
4. **Tuple Items - Data Types**
5. **Unpacking Tuple**
6. **Using unpacking tuple to swap values of two variables**
7. **Python NamedTuple**
8. **Python Tuple vs. List**

## **Introduction**
* Tuples are used to store multiple items in a single variable.

* Tuple is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Set, and Dictionary, all with different qualities and usage.

* A tuple is a collection which is ordered and unchangeable.

* Tuples are written with **round()** brackets.

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

## **Tuple Items**
* Tuple items are ordered, unchangeable, and allow duplicate values.

* Tuple items are indexed, the first item has index [0], the second item has index [1] etc.

### **Ordered**
* When we say that tuples are ordered, it means that the items have a defined order, and that order will not change.

### **Unchangeable**
* Tuples are unchangeable, meaning that we cannot change, add or remove items after the tuple has been created.

### **Allow Duplicates**
* Since tuples are indexed, they can have items with the same value:

In [ ]:
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

### **Tuple Length**
* To determine how many items a tuple has, use the **len()** function:

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

3

## **Create Tuple With One Item**
* To create a tuple with only one item, you have to add a comma after the item, otherwise Python will not recognize it as a tuple.

In [ ]:
thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

## **Tuple Items - Data Types**
* Tuple items can be of any data type:

In [ ]:
tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)

* A tuple with strings, integers and boolean values:

In [ ]:
tuple1 = ("abc", 34, True, 40, "male")

### **type()**

* From Python's perspective, tuples are defined as objects with the data type 'tuple':

In [ ]:
mytuple = ("apple", "banana", "cherry")
print(type(mytuple))

<class 'tuple'>

### **The tuple() Constructor**
* It is also possible to use the tuple() constructor to make a tuple.

In [ ]:
thistuple = tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(thistuple)

('apple', 'banana', 'cherry')

## **Unpacking Tuple**
* Unpacking a tuple means splitting the tupleâ€™s elements into individual variables. For example:

In [ ]:
x, y = (1, 2)

In [ ]:
x

1

In [ ]:
y

2

In [ ]:
x,y

(1, 2)

* x,y is a tuple of two variables x and y.

* The right side is also a tuple of two integers 1 and 2.

* The expression assigns the tuple elements on the right side (1, 2) to each variable on the left side (x, y) based on the relative position of each element.

In [ ]:
x, y ,z = 10, 20, 30

In [ ]:
x,y,z

(10, 20, 30)

In [ ]:
x

10

In [ ]:
y

20

In [ ]:
z

30

In [ ]:
x,y

(10, 20)

In [ ]:
y,z

(20, 30)

In [ ]:
numbers = 10, 20, 30
print(type(numbers))

<class 'tuple'>

## **Using unpacking tuple to swap values of two variables**
* Traditionally, to swap the values of two variables, you would use a temporary variable like this:

In [ ]:
x = 10
y = 20

print(f'x={x}, y={y}')

tmp = x
x = y
y = tmp

print(f'x={x}, y={y}')

x=10, y=20
x=20, y=10

In [ ]:
#In Python, you can use the unpacking tuple syntax to achieve the same result:
x = 10
y = 20

print(f'x={x}, y={y}')
#In this expression, Python evaluates the right-hand side first 
#and then assigns the variable from the left-hand side to the values from the right-hand side.
x, y = y, x

print(f'x={x}, y={y}')

x=10, y=20
x=20, y=10

### **ValueError: too many values to unpack**
* The following example unpacks the elements of a tuple into variables. However, itâ€™ll result in an error:

In [ ]:
x, y = 10, 20, 30

ValueError: too many values to unpack (expected 2)

* This error is because the right-hand side returns three values while the left-hand side only has two variables.
* To fix this, you can add a _ variable:

In [ ]:
x, y, _ = 10, 20, 30

In [ ]:
x

10

In [ ]:
y

20

In [ ]:
_

30

* The **_** variable is a regular variable in Python. By convention, itâ€™s called a dummy variable.

* Typically, you use the dummy variable to unpack when you donâ€™t care and use its value afterward.

### **Extended unpacking using the * operator**
* Sometimes, you donâ€™t want to unpack every single item in a tuple. 
* For example, you may want to unpack the first and second elements. In this case, you can use the * operator. For example:

In [ ]:
r, g, *other = (192, 210, 100, 0.5)

In [ ]:
r

192

In [ ]:
g

210

In [ ]:
other

[100, 0.5]

* Notice that you can only use the * operator once on the left-hand side of an unpacking assignment.

* The following example results in error:

In [ ]:
x, y, *z, *t = (10, 20, 30, '10:30')

SyntaxError: multiple starred expressions in assignment (3014806510.py, line 1)

### **Using the * operator on the right hand side**
* Python allows you to use the * operator on the right-hand side. Suppose that you have two tuples:

In [ ]:
odd_numbers = (1, 3, 5)
even_numbers = (2, 4, 6)

* The following example uses the * operator to unpack those tuples and merge them into a single tuple:

In [ ]:
numbers = (*odd_numbers, *even_numbers)
print(numbers)

(1, 3, 5, 2, 4, 6)

## **Python NamedTuple**
### **Introduction to Python named tuples**
* The following shows a tuple that has two elements:

In [1]:
point = (100,200)

* The point tuple represents a 2D point whose x-coordinate is 100 and y coordinate is 200.

* To get the x-coordinate and y-coordinate, you can use the following syntax:

In [2]:
 x = point[0]
 y = point[1]

* This code works fine. However, itâ€™s not so obvious.

* When you look at the point[0], you need to know its implicitly meaning which doesnâ€™t mention in the code.

* To make the code more clear, you might want to use a class. For example:

In [3]:
class Point2D:
    def __init__(self, x, y):
        self.x = x
        self.y = y

In [4]:
#And you can create a new instance of the Point2D:
a = Point2D(100, 200)

In [5]:
#Also, you can access x-coordinate and y-coordinate attributes:
print(a.x)
print(a.y)

100
200

In [6]:
#To compare if two points are the same, you need to implement the __eq__ method:
class Point2D:
    def __init__(self, x, y):
        self.x = x
        self.y = y

    def __eq__(self, other):
        if isinstance(other, Point2D):
            return self.x == other.x and self.y == other.y
        return False

* The __eq__ method checks if a point is an instance of the Point2D class and returns True if both x-coordinate and y-coordinate are equal.

* The following shows how to compare two instances of the Point2D class:

In [7]:
a = Point2D(100, 200)
b = Point2D(100, 200)

print(a is b)  # False
print(a == b)  # true

False
True

* The Point2D might work as you expected. However, you need to write a lot of code.

* To combine the simplicity of a tuple and the obvious of a class, you can use a named tuple
![image.png]()

* Named tuples allow you to create tuples and assign meaningful names to the positions of the tupleâ€™s elements.

* Technically, a named tuple is a subclass of tuple. On top of that, it adds property names to the positional elements.

### **Creating named tuple classes**
* To create a named tuple class, you need to the namedtuple function of the collections standard library.

* The namedtuple is a function that returns a new named tuple class. In other words, the namedtuple() is a class factory.

* To use the namedtuple function, you need to import it from the collections module first:

In [8]:
from collections import namedtuple

* The namedtuple function accepts the following arguments to generate a class:

  * A class name that specifies the name of the named tuple class.
  * A sequence of field names that correspond to the elements of tuples. The field names must be valid variable names except that they cannot start with an underscore (_).
  * For example, the following uses the namedtuple function to create the Point2D class:

In [9]:
Point2D = namedtuple('Point2D',['x','y'])

* The namedtuple also can accept fields names as:

  * 1) A tuple of string:

In [10]:
Point2D = namedtuple('Point2D',('x','y'))

  * 2) Or a single string with field names separated by commas:

In [11]:
Point2D = namedtuple('Point2D',('x, y'))

  * 3) Or a single string with field names separated by whitespaces

In [12]:
Point2D = namedtuple('Point2D','x y')

#### **Instantiating named tuples**
* The Point2D is a class, which is a subclass of the tuple. And you can create new instances of the Point2D class like you do with a regular class. 
* For example:

In [13]:
point = Point2D(100, 200)

In [14]:
#Or you can use the keyword arguments:
point = Point2D(x=100, y=200)

![image.png]()

* The point object is an instance of the Point2D class. Therefore, itâ€™s an instance of the tuple class:

In [15]:
print(isinstance(point, Point2D))  # True
print(isinstance(point, tuple))  # True

True
True

#### **Accessing data of a named tuple**
* A named tuple is a regular tuple. Therefore, you can apply all tuple operations on a named tuple.

* To access data in a named tuple, you can use:

  * Slicing
  * Unpacking
  * Indexing
  * and iterating
* For example:

In [16]:
# unpacking
x, y = point
print(f'({x}, {y})')  # (100, 200)

# indexing
x = point[0]
y = point[1]
print(f'({x}, {y})')  # (100, 200)

# iterating

for coordinate in point:
    print(coordinate)

(100, 200)
(100, 200)
100
200

#### **The rename argument of the namedtuple function**
* The namedtuple function accepts the rename the keyword-only argument that allows you to rename invalid field names.

* The following results in an error because the field name _radius starts with an underscore (_):
![image.png]()

In [18]:
#However, when you use the rename argument, the namedtuple function automatically renames the _radius to a valid field name. For example:
from collections import namedtuple

Circle = namedtuple(
    'Circle',
    'center_x, center_y, _radius',
    rename=True
)

* To find field names of a named tuple, you can use the _fields class property. For example:

In [19]:
print(Circle._fields)

('center_x', 'center_y', '_2')

* In this example, the namedtuple function changes the _radius field to _2 automatically.

#### **Additional Python functions of named tuples**
* Named tuples provide some useful functions out of the box. For example, you can use the equal operator (==) to compare two named tuple instances:

In [20]:
a = Point2D(100, 200)
b = Point2D(100, 200)

print(a == b)  # True

True

* If you use the class, you need to implement the __eq__ to get this function.

* Also, you can get the string representation of a named tuple:

In [21]:
print(a)

Point2D(x=100, y=200)

* Again, if you use the class, you need to implement __rep__ method.

* Since a named tuple is a tuple, you can apply any function that is relevant to a regular tuple to a named tuple. For example:

In [22]:
print(max(a))  # 200
print(min(a))  # 100

200
100

## **Python Tuple vs. List**
### **1) A tuple is immutable while a list is mutable**
* The following example defines a list and modifies the first element:

In [23]:
fruits = ['apple', 'orange', 'banana']
fruits[0] = 'strawberry'

print(fruits)

['strawberry', 'orange', 'banana']

In [24]:
fruits = ('apple', 'orange', 'banana')
fruits[0] = 'strawberry'

TypeError: ignored

* In this example, Python creates a new tuple and bounds the fruits variable to the newly created tuple.

* If you examine the memory addresses of the tuple objects, youâ€™ll see that the fruits variable references a different memory address after the assignment:

In [25]:
fruits = ('apple', 'orange', 'banana')
fruits = ('strawberry', 'orange', 'banana')

In [26]:
fruits = ('apple', 'orange', 'banana')
print(hex(id(fruits)))

fruits = ('strawberry', 'orange', 'banana')
print(hex(id(fruits)))

0x7fe7486580a0
0x7fe7485eabe0

### **2) The storage efficiency of a tuple is greater than a list**
* A list is mutable. It means that you can add more elements to it. Because of this, Python needs to allocate more memory than needed to the list. This is called over-allocating. The over-allocation improves performance when a list is expanded.

* Meanwhile, a tuple is immutable therefore its element count is fixed. So Python just needs to allocate enough memory to store the initial elements.

* As a result, the storage efficiency of a tuple is greater than a list.

* To get the size of an object, you use the getsizeof function from the sys module.

* The following shows the sizes of a list and a tuple that stores the same elements:

In [27]:
from sys import getsizeof

fruits = ['apple', 'orange', 'banana']
print(f'The size of the list is {getsizeof(fruits)} bytes.')

fruits = ('strawberry', 'orange', 'banana')
print(f'The size of the tuple is {getsizeof(fruits)} bytes.')

The size of the list is 96 bytes.
The size of the tuple is 80 bytes.

### **3) Copying a tuple is faster than a list**
* When you copy a list, Python creates a new list. 
* The following example illustrates copying a list to another:

In [28]:
fruit_list = ['apple', 'orange', 'banana']
fruit_list2 = list(fruit_list)
print(id(fruit_list) == id(fruit_list2))  # False

False

* However, when copying a tuple, Python just reuses an existing tuple. It doesnâ€™t create a new tuple because tuples are immutable.

In [29]:
fruit_tuple = ('apple', 'orange', 'banana')
fruit_tuple2 = tuple(fruit_tuple)
print(id(fruit_tuple) == id(fruit_tuple2))  # True

True

* Therefore, copying a tuple always slightly faster than a list.

* The following compares the time that needs to copy a list and a tuple 1 million times:

In [30]:
from timeit import timeit

times = 1_000_000

t1 = timeit("list(['apple', 'orange', 'banana'])", number=times)
print(f'Time to copy a list {times} times: {t1}')

t2 = timeit("tuple(('apple', 'orange', 'banana'))", number=times)
print(f'Time to copy a tuple {times} times: {t2}')

diff = "{:.0%}".format((t2 - t1)/t1)

print(f'difference: {diff}')

Time to copy a list 1000000 times: 0.17745680300004096
Time to copy a tuple 1000000 times: 0.10852706799983025
difference: -39%