# **Python Lists.**

# **Topics**
 - **Introduction**   
 - **declaration of lists**   
 - **Accessing,Slicing and indexing**   
 - **Basic List Operations**   
 - **Built-in List Functions & Methods**   
 - **Main methods used in lists**   
 - **List comprehension**  
 - **Lambda, The map(), the Filter and reduce() functions**   
 - **Updating Lists**   
 - **Delete List Elements.**   
 - **How to Use a For Loop to Iterate over a List?**   
 - **Python Iterables**   
 - **Tricks and questions**



## **Introduction**

* The most basic data structure in Python is the sequence. Each element of a sequence is assigned a number - its position or index. 

* The first index is zero, the second index is one, and so forth.Python has six built-in types of sequences, but the most common ones are lists and tuples, which we would see in this tutorial.

* The list is the most versatile data type available in Python, which can be written as a list of comma-separated values (items) between square brackets. 
* A list is a data-structure, or it can be considered a container that can be used to store multiple data at once. The list will be ordered and there will be a definite count of it.
* Lists are just like dynamically sized arrays, declared in other languages (vector in C++ and ArrayList in Java). 
* Lists need not be **homogeneous** always which makes it the most powerful tool in Python. 
* A single list may contain DataTypes like Integers, Strings, as well as Objects. Lists are mutable, and hence, they can be altered even after their creation.

In [1]:
#To create a list, you separate the elements with a comma and enclose them with a bracket “[]”.
list1 = ['physics', 'chemistry', 1997, 2000];
list2 = [1, 2, 3, 4, 5 ];
list3 = ["a", "b", "c", "d"];

In [5]:
print(list1)
print(list2)
print(list3)
type(list1) #this checks the datatype whether it's list or not.

['physics', 'chemistry', 1997, 2000]
[1, 2, 3, 4, 5]
['a', 'b', 'c', 'd']

list

## **declaration of lists**
A list can be declared in 2 ways

In [3]:
#way 1
l=['a',2,3]
print(l)

['a', 2, 3]

In [4]:
#way 2
l=list() #this creates a empty list.
print(l)

[]

## **Accessing,Slicing and indexing.**
* To access values in lists, use the square brackets for slicing along with the index or indices to obtain value available at that index

In [6]:
print (list1[0])
print (list2[1:5]) #from 1 to 4 i.e 1 to n-1 everytime.
print (list2[:5])
print (list2[:5+5:]) #prints the entire list but not the oringinal order sometimes.
print(list1[1])

physics
[2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
chemistry

## **Basic List Operations.**
* Lists respond to the **+** and * operators much like strings.
* They mean concatenation and repetition here too, except that the result is a new list, not a string.

In [3]:
print(list1+list2)
print([1,2,3]*3)
#print([1,2,3]**3)
print(list1+[1,2,3])
list4=list1+list2
print(list4)

['physics', 'chemistry', 1997, 2000, 1, 2, 3, 4, 5]
[1, 2, 3, 1, 2, 3, 1, 2, 3]
['physics', 'chemistry', 1997, 2000, 1, 2, 3]
['physics', 'chemistry', 1997, 2000, 1, 2, 3, 4, 5]

In [4]:
#let's check the type data-structure using type command in python
type(list4)

list

## **Built-in List Functions & Methods.**
Following are main functions or Built-in used in lists.
* **cmp(list1, list2)** = No longer available in Python 3.
* **len(list)** = Gives the total length of the list.
* **max(list)** = Returns item from the list with max value.
* **min(list)** = Returns item from the list with min value. 
* **list(seq)** = Converts a tuple into list.
* **sorted(list)** = sort the list and has same functionality as sort() method.
* **sum(list)** = returns sum of all the elements in the list.
* **enumerate(list, default start=0)** = it adds counts to each element in list 
* **type(list)** = it checks the datatype of the list.

In [5]:
l=[1,2,3,1997,523]
t=(1,2,3)
s="python"
print("Length: ",len(l))
print("Maximum: ",max(l))
print("Minimum: ",min(l))
print("Tuple to list: ",list(t))
print("String to list: ",list(s))
print("Sorted list: ",sorted(l))
print("Sum of list: ",sum(l))
enu_l=enumerate(l)
print("Tuple :",t)
print("Enumeration of list: ",list(enu_l))
print("List of Tuple: ",list(t))

Length:  5
Maximum:  1997
Minimum:  1
Tuple to list:  [1, 2, 3]
String to list:  ['p', 'y', 't', 'h', 'o', 'n']
Sorted list:  [1, 2, 3, 523, 1997]
Sum of list:  2526
Tuple : (1, 2, 3)
Enumeration of list:  [(0, 1), (1, 2), (2, 3), (3, 1997), (4, 523)]
List of Tuple:  [1, 2, 3]

In [7]:
l1=[12324,12,0,564]
print("list before reverse: ",l1)
l1.reverse()
print("list after reverse: ",l1)

list before reverse:  [12324, 12, 0, 564]
list after reverse:  [564, 0, 12, 12324]

In [6]:
#list enumerate example
companies = ['hackerearth', 'google', 'facebook']
for indx, name in enumerate(companies):
    print("Index is %s for company: %s" % (indx, name))

Index is 0 for company: hackerearth
Index is 1 for company: google
Index is 2 for company: facebook

## **Main methods used in lists.**

* Python lists support common methods that are commonly required while working with lists. 
* **The methods change the list in place.** 
* In case you want to make some changes in the list and keep both the old list and the changed list, take a look at the functions that are described after the methods.

    * **list.append(obj)** = Appends object obj to list 
    * **list.count(obj)** = Returns count of how many times obj occurs in list 
    * **list.extend(seq)** = Appends the contents of seq to list 
    * **list.index(obj)** = Returns the lowest index in list that obj appears 
    * **list.insert(index, obj)** = Inserts object obj into list at offset index. will add another element to the list at the given index, shifting the elements greater than the index one step to the right. In other words, the elements with the index greater than the provided index will increase by one.
    * **list.pop(obj=list[-1])** = Removes and returns last object or obj from list 
    * **list.remove(obj)** = Removes object obj from list 
    * **list.reverse()** = it reverses the list. 
    * **list.sort([func])** = Sorts objects of list, use compare func if given
    * **list.copy()** = it copies present list to other list with different memory location.
    * **list.clear()** = it clears all the items in the list and returns empty list.

In [12]:
l=[1,2,3,4,2,1,4,2,2,4]
l.append(5)
print("l.append(5): ",l)
l.append([5])
print("l.append([5]): ",l)
l.count(4)
print("l.count(4): ",l.count(4))
l.extend([6])
print("l.extend([6]): ",l)
l.index(3)
print("l.index(3): ",l.index(3))
l.insert(0,12)
print("l.insert(0,12): ",l)
l.pop(2)
print("l.pop(2): ",l)
l.remove(2)
print("l.remove(2): ",l)
l2=[1,0,11,1,23,5]
print("l2: ",l2)
l2.sort()
print("l2.sort(): ",l2)
print("l2 after sort: ",l2)
k=l.copy()
print("k=l.copy(): ",k)
print("id of l",id(l))
print("id of k",id(k))
l1=[2,3,4]
l1.clear()
print("l1.clear(): ",l1)

l.append(5):  [1, 2, 3, 4, 2, 1, 4, 2, 2, 4, 5]
l.append([5]):  [1, 2, 3, 4, 2, 1, 4, 2, 2, 4, 5, [5]]
l.count(4):  3
l.extend([6]):  [1, 2, 3, 4, 2, 1, 4, 2, 2, 4, 5, [5], 6]
l.index(3):  2
l.insert(0,12):  [12, 1, 2, 3, 4, 2, 1, 4, 2, 2, 4, 5, [5], 6]
l.pop(2):  [12, 1, 3, 4, 2, 1, 4, 2, 2, 4, 5, [5], 6]
l.remove(2):  [12, 1, 3, 4, 1, 4, 2, 2, 4, 5, [5], 6]
l2:  [1, 0, 11, 1, 23, 5]
l2.sort():  [0, 1, 1, 5, 11, 23]
l2 after sort:  [0, 1, 1, 5, 11, 23]
k=l.copy():  [12, 1, 3, 4, 1, 4, 2, 2, 4, 5, [5], 6]
id of l 2484243881600
id of k 2484247100480
l1.clear():  []

## **List comprehension**
* List comprehension is an elegant way to define and create list in Python. 
* These lists have often the qualities of sets, but are not in all cases sets. 
* List comprehension is a complete substitute for the lambda function as well as the functions map(), filter() and reduce(). 
* For most people the syntax of list comprehension is easier to be grasped.

In [21]:
l=[x**2 for x in range(10)]
print(l)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [22]:
l=[x*2 for x in range(10)]
print(l)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [23]:
t=(x**3 for x in range(10))
print(list(t))

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

In [14]:
human_alpha = ['h', 'u', 'm', 'a', 'n']
h_letters = [human for human in human_alpha]
print(h_letters)

['h', 'u', 'm', 'a', 'n']

## **Lambda, The map(), the Filter and reduce() functions.**
* The lambda operator or lambda function is a way to create small anonymous functions, i.e. functions without a name. 
* These functions are throw-away functions, i.e. they are just needed where they have been created. Lambda functions are mainly used in combination with the functions filter(), map() and reduce(). 
* The general syntax of a lambda function is quite simple: 
"**lambda argument_list: expression**"
* The argument list consists of a comma separated list of arguments and the expression is an arithmetic expression using these arguments. You can assign the function to a variable to give it a name.

* The advantage of the lambda operator can be seen when it is used in combination with the map() function. 
* map() is a function which takes two arguments: 
**r = map(func, seq)**

* The function "filter(function, sequence)" offers an elegant way to filter out all the elements of a sequence "sequence", for which the function function returns True. i.e. an item will be produced by the iterator result of **filter(function, sequence)** if item is included in the sequence "sequence" and if function(item) returns True.

* The function "**reduce(func, seq)**" continually applies the function func() to the sequence seq. It returns a single value.

In [1]:
s=lambda x,y:x+y
s(3,5)

8

In [3]:
Celsius = [39.2, 36.5, 37.3, 37.8]
Fahrenheit = map(lambda x: (float(9)/5)*x + 32, Celsius)
print(Fahrenheit)
print(list(Fahrenheit))

<map object at 0x7f4c0047b4a8>
[102.56, 97.7, 99.14, 100.03999999999999]

In [6]:
fib = [0,1,1,2,3,5,8,13,21,34,55]
result = filter(lambda x: x % 2 == 0, fib)
print(result)
print(list(result))

<filter object at 0x7f4c00413eb8>
[0, 2, 8, 34]

In [12]:
from functools import reduce
reduce(lambda x, y: x+y, range(1,101))

5050

In [13]:
reduce(lambda x,y: x+y, [47,11,42,13])

113

## **Updating Lists.**
* You can update single or multiple elements of lists by giving the slice on the left-hand side of the assignment operator, and you can add to elements in a list with the append() method.

In [20]:
l=[1,2,3,4]
print(l+[5])

[1, 2, 3, 4, 5]

In [21]:
l.append(6)
l

[1, 2, 3, 4, 6]

In [22]:
l[2]='ravi'
l

[1, 2, 'ravi', 4, 6]

## **Delete List Elements.**
* To remove a list element, you can use either the del statement if you know exactly which element(s) you are deleting. You can use the remove() method if you do not know exactly which items to delete.

In [26]:
ll=[1,2,3,1997,'a']
ll

[1, 2, 3, 1997, 'a']

In [27]:
del ll[2]
ll

[1, 2, 1997, 'a']

In [28]:
ll1=[1,2,3,4,5,6]
del ll1[1:3]
ll1

[1, 4, 5, 6]

In [29]:
del ll1
ll1

NameError: name 'll1' is not defined

In [30]:
ll2=[1,2,3,5,'a',1887]
ll2.remove('a')
ll2

[1, 2, 3, 5, 1887]

### **How to Use a For Loop to Iterate over a List**

In [2]:
list=[]
for item in list:
    # process the item
    pass

* In this syntax, the for loop statement assigns an individual element of the list to the item variable in each iteration.

* Inside the body of the loop, you can manipulate each list element individually.

* For example, the following defines a list of cities and uses a for loop to iterate over the list:

In [3]:
cities = ['New York', 'Beijing', 'Cairo', 'Mumbai', 'Mexico']

for city in cities:
    print(city)

New York
Beijing
Cairo
Mumbai
Mexico

#### **Using Python for loop to iterate over a list with index**
* Sometimes, you may want to access indexes of elements inside the loop. In these cases, you can use the enumerate() function.

* The enumerate() function returns a tuple that contains the current index and element of the list.

* The following example defines a list of cities and uses a for loop with the enumerate() function to iterate over the list:

In [4]:
cities = ['New York', 'Beijing', 'Cairo', 'Mumbai', 'Mexico']

for item in enumerate(cities):
    print(item)

(0, 'New York')
(1, 'Beijing')
(2, 'Cairo')
(3, 'Mumbai')
(4, 'Mexico')

In [5]:
#To access the index, you can unpack the tuple within the for loop statement like this:
cities = ['New York', 'Beijing', 'Cairo', 'Mumbai', 'Mexico']

for index, city in enumerate(cities):
    print(f"{index}: {city}")

0: New York
1: Beijing
2: Cairo
3: Mumbai
4: Mexico

In [6]:
#The enumerate() function allows you to specify the starting index which defaults to zero.
#The following example uses the enumerate() function with the index that starts from one:
cities = ['New York', 'Beijing', 'Cairo', 'Mumbai', 'Mexico']

for index, city in enumerate(cities,1):
    print(f"{index}: {city}")

1: New York
2: Beijing
3: Cairo
4: Mumbai
5: Mexico

## **Python Iterables**
* In Python, an iterable is an object that includes zero, one, or many elements. An iterable has the ability to return its elements one at a time.

* Because of this feature, you can use a for loop to iterate over an iterable.

* In fact, the range() function is an iterable because you can iterate over its result:

In [8]:
for index in range(3):
    print(index)

0
1
2

In [9]:
#Also, a string is an iterable because you can use a for loop to iterate over it:
str = 'Iterables'
for ch in str:
    print(ch)

I
t
e
r
a
b
l
e
s

In [10]:
#Lists and tuples are also iterables because you can loop over them. For example:
ranks = ['high', 'medium', 'low']

for rank in ranks:
    print(rank)

high
medium
low

* The rule of thumb is that if you know if can loop over something, it’s iterable.

### **What is an iterator**
* An iterable can be iterated over. And an iterator is the agent that performs the iteration.

* To get an iterator from an iterable, you use the iter() function. For example:

In [11]:
colors = ['red', 'green', 'blue']
colors_iter = iter(colors)
#Once you have the iterator, you can get the next element from the iterable using the next() function:
color = next(colors_iter)
print(color)

red

In [12]:
#Every time, you call the next() function, it returns the next element in the iterable. For example:
colors = ['red', 'green', 'blue']
colors_iter = iter(colors)

color = next(colors_iter)
print(color)

color = next(colors_iter)
print(color)

color = next(colors_iter)
print(color)

red
green
blue

In [13]:
#If there isn’t any more element and you call the next() function, you’ll get an exception.
colors = ['red', 'green', 'blue']
colors_iter = iter(colors)

color = next(colors_iter)
print(color)

color = next(colors_iter)
print(color)

color = next(colors_iter)
print(color)

# cause an excpetion
color = next(colors_iter)
print(color)

red
green
blue

StopIteration:

* The iterator is stateful. It means that once you consume an element from the iterator, it’s gone.

* In other words, once you complete looping over an iterator, the iterator becomes empty. If you iterate over it again, it’ll return nothing.

* Since you can iterate over an iterator, the iterator is also an iterable object. This is quite confusing. For example:

In [15]:
colors = ['red', 'green', 'blue']
iterator = iter(colors)

for color in iterator:
    print(color)
#If you call the iter() function and pass an iterator to it, it’ll return the same iterator back.

red
green
blue

## **Tricks and questions.**
### **(1 ) Difference between extend() and append().**

In [35]:
l=[1,2,3,4]
l.append([5])
print(l)
l.extend([6])
print(l)
l.extend([[7]])
print(l) 
l.append(8)
print(l)
l.extend(9) #since it doesn't work for non-iterable datatypes
print(l)

[1, 2, 3, 4, [5]]
[1, 2, 3, 4, [5], 6]
[1, 2, 3, 4, [5], 6, [7]]
[1, 2, 3, 4, [5], 6, [7], 8]

TypeError: 'int' object is not iterable

### **(2) Isinstance() and type in list.**

In [37]:
#they're used to check whether the datatype is list or not.
l11=[1,2,3]
type(l11)

list

In [38]:
isinstance(l11,list)

True

### **(3) Difference between k=list.copy() and k=l.**

In [39]:
l=[1,2,3]
id(l)

139964398496328

In [40]:
k=l
id(k)

139964398496328

In [41]:
j=l.copy()
id(j)

139964397890440

### **(4) Unpacking python lists.**

In [42]:
a,b,c=[1,2,3,'a',5,6,88,123,90]

ValueError: too many values to unpack (expected 3)

In [44]:
a,*b,c=[1,2,3,'a',5,6,88,123,90]
print(a)
print(b)
print(c)

1
[2, 3, 'a', 5, 6, 88, 123]
90

### **(5) To get multiples inputs in single line.**

In [3]:
n=input().split()
n

1 2 3 4

['1', '2', '3', '4']

In [4]:
n1=input().rstrip().split()
n1

1 2 3 4

['1', '2', '3', '4']

In [5]:
n2=list(map(int,input().split()))
n2

1 2 3 4 5 6

[1, 2, 3, 4, 5, 6]

### **(6) How to sort list in ascending and descending order (of integers only)?**

In [14]:
ll4=[1,3,2,0,13,2,6]
print('Ascending order -',sorted(ll4,key=int))
print('Descending order -',sorted(ll4,key=int,reverse=True))

Ascending order - [0, 1, 2, 2, 3, 6, 13]
Descending order - [13, 6, 3, 2, 2, 1, 0]

### **(7) How to convert list to set and vice versa?**

In [15]:
s=set(ll4)
s

{0, 1, 2, 3, 6, 13}

In [16]:
ll5=list(s)
ll5

[0, 1, 2, 3, 6, 13]

## **(8) How to Find the Index of an Element in a List**
* To find the index of an element in a list, you use the index() function.

In [7]:
cities = ['New York', 'Beijing', 'Cairo', 'Mumbai', 'Mexico']

result = cities.index('Mumbai')
print(result)

3