# **Python Dictionary**

# **Topics**

- **Introduction** 
- **Accessing values in Dictionary**
- **Adding new key-value pairs**
- **Modifying values in a key-value pair**
- **Removing key-value pairs**
- **Looping through a dictionary**
- **Built-in Dictionary Functions & Methods**
- **Dictionary methods**
- **Dictionary Comprehensions**

## **Introduction**
* Each key is separated from its value by a colon **(:)**, the items are separated by **commas**, and the whole thing is enclosed in curly braces. 
* An empty dictionary without any items is written with just two curly braces, like this: **{}**. Keys are unique within a dictionary while values may not be. 
* The values of a dictionary can be of any type, but the keys must be of an immutable data type such as **strings, numbers, or tuples.**

In [ ]:
d=dict() #empty dictionary
print(d)
print(type(d))

{}
<class 'dict'>

In [ ]:
d1={} #empty dictionary
d

{}

In [1]:
#The following example defines a dictionary with some key-value pairs:
person = {
    'first_name': 'John',
    'last_name': 'Doe',
    'age': 25,
    'favorite_colors': ['blue', 'green'],
    'active': True
}
type(person)

dict

In [ ]:
#making a dictionary from user input
d=dict(input().split() for i in range(2))
d

a 2
b 4

{'a': '2', 'b': '4'}

## **Accessing values in Dictionary.**

1. **Square method**
* To access a value associated with a key, you place the key inside **square** brackets:

In [2]:
person = {
    'first_name': 'John',
    'last_name': 'Doe',
    'age': 25,
    'favorite_colors': ['blue', 'green'],
    'active': True
}
print(person['first_name'])
print(person['last_name'])

John
Doe

In [ ]:
d2={'Name':'Diya','Age':7,'Class':4}
d2

{'Name': 'Diya', 'Age': 7, 'Class': 4}

In [ ]:
for i in d2.items():
    print(i)

('Name', 'Diya')
('Age', 7)
('Class', 4)

In [ ]:
d2['Name']

'Diya'

In [ ]:
#let's delete the dictionary using del keyword
dd={'Name':'Rakesh','Age':13,'Class':2}
dd

{'Name': 'Rakesh', 'Age': 13, 'Class': 2}

2. **get() method**
* If you attempt to access a key that doesn’t exist, you’ll get an error.
* To avoid this error, you can use the get() method of the dictionary.
* If the key **doesn’t** exist, the get() method returns **None** instead of throwing a **KeyError**. Note that **None** means **no** value exists.

* The **get()** method also returns a default value when the key doesn’t exist by passing the default value to its second argument.

In [5]:
person = {
    'first_name': 'John',
    'last_name': 'Doe',
    'age': 25,
    'favorite_colors': ['blue', 'green'],
    'active': True
}

ssn = person['ssn']

KeyError: ignored

In [4]:
ssn = person.get('ssn')
print(ssn)

None

In [ ]:
person = {
    'first_name': 'John',
    'last_name': 'Doe',
    'age': 25,
    'favorite_colors': ['blue', 'green'],
    'active': True
}

ssn = person.get('ssn')
print(ssn)

None

In [6]:
#The following example returns the '000-00-0000' string if the ssn key doesn’t exist in the person dictionary:
person = {
    'first_name': 'John',
    'last_name': 'Doe',
    'age': 25,
    'favorite_colors': ['blue', 'green'],
    'active': True
}

ssn = person.get('ssn', '000-00-0000')
print(ssn)

000-00-0000

In [ ]:
del dd
dd

NameError: name 'dd' is not defined

## **Adding new key-value pairs**
* Since a dictionary has a dynamic structure, you can add new key-value pairs to it at any time.

* To add a new key-value pair to a dictionary, you specify the name of the dictionary followed by the new key in square brackets along with the new value.

* The following example adds a new key-value pair to the person dictionary:

In [7]:
person['gender'] = 'Famale'
person

{'first_name': 'John',
 'last_name': 'Doe',
 'age': 25,
 'favorite_colors': ['blue', 'green'],
 'active': True,
 'gender': 'Famale'}

## **Modifying values in a key-value pair**
* To modify a value associated with a key, you specify the dictionary name with the key in square brackets and the new value associated with the key:<br />
![image.png]()

In [ ]:
person = {
    'first_name': 'John',
    'last_name': 'Doe',
    'age': 25,
    'favorite_colors': ['blue', 'green'],
    'active': True
}

person['age'] = 26

print(person)

## **Removing key-value pairs**
* To remove a key-value pair by a key, you use the **del** statement:
![image.png]()
* In this syntax, you specify the dictionary **name** and the **key** that you want to remove.

In [8]:
#The following example removes the key 'active' from the person dictionary:
person = {
    'first_name': 'John',
    'last_name': 'Doe',
    'age': 25,
    'favorite_colors': ['blue', 'green'],
    'active': True
}

del person['active']
print(person)

{'first_name': 'John', 'last_name': 'Doe', 'age': 25, 'favorite_colors': ['blue', 'green']}

## **Looping through a dictionary**
* To examine a dictionary, you can use a **for loop** to iterate over its key-value pairs, or keys, or values.
**1) Looping all key-value pairs in a dictionary**
  * Python dictionary provides a method called **items()** that returns an object which contains a list of key-value pairs as tuples in a list.

In [9]:
person = {
    'first_name': 'John',
    'last_name': 'Doe',
    'age': 25,
    'favorite_colors': ['blue', 'green'],
    'active': True
}

print(person.items())

dict_items([('first_name', 'John'), ('last_name', 'Doe'), ('age', 25), ('favorite_colors', ['blue', 'green']), ('active', True)])

* To iterate over all key-value pairs in a dictionary, you use a for loop with **two** variable **key and value** to unpack each tuple of the list:

In [11]:
person = {
    'first_name': 'John',
    'last_name': 'Doe',
    'age': 25,
    'favorite_colors': ['blue', 'green'],
    'active': True
}
#Note that you can use any variable name in the for loop. They don’t have to be the key and value.
for key, value in person.items():
    print(f"{key}: {value}")

first_name: John
last_name: Doe
age: 25
favorite_colors: ['blue', 'green']
active: True

**2) Looping through all the keys in a dictionary**
  * Sometimes, you just want to loop through all keys in a dictionary. In this case, you can use a for loop with the keys() method.

  * The **keys()** method returns an object that contains a list of keys in the dictionary.

  * For example:

In [12]:

person = {
    'first_name': 'John',
    'last_name': 'Doe',
    'age': 25,
    'favorite_colors': ['blue', 'green'],
    'active': True
}

for key in person.keys():
    print(key)

first_name
last_name
age
favorite_colors
active

In [13]:
#In fact, looping through all keys is the default behavior when looping through a dictionary. Therefore, you don’t need to use the keys() method.
#The following code returns the same output like the one in the above example:
person = {
    'first_name': 'John',
    'last_name': 'Doe',
    'age': 25,
    'favorite_colors': ['blue', 'green'],
    'active': True
}

for key in person:
    print(key)

first_name
last_name
age
favorite_colors
active

**3) Looping through all the values in a dictionary**
* The **values()** method returns a list of values without any keys.

* To loop through all the values in a dictionary, you use a for loop with the **values()** method:

In [14]:
person = {
    'first_name': 'John',
    'last_name': 'Doe',
    'age': 25,
    'favorite_colors': ['blue', 'green'],
    'active': True
}

for value in person.values():
    print(value)

John
Doe
25
['blue', 'green']
True

## **Built-in Dictionary Functions & Methods.**
Python includes the following dictionary functions.
1. **cmp(dict1, dict2)** = No longer available in Python 3. 
2. **len(dict)** = Gives the total length of the dictionary. This would be equal to the number of items in the dictionary. 
3. **str(dict)** = Produces a printable string representation of a dictionary. 
4. **type(variable)** = Returns the type of the passed variable. If passed variable is dictionary, then it would return a dictionary type.

In [ ]:
d3={'Name':'Diya','Age':7,'Class':4,'Color':'red'}
d4={'Car':'Ertiga','Average':'15kmph','Class':4,'Color':'red'}
cmp(d3,d4)

NameError: name 'cmp' is not defined

In [ ]:
len(d3)

4

In [ ]:
str(d4)

"{'Car': 'Ertiga', 'Average': '15kmph', 'Class': 4, 'Color': 'red'}"

In [ ]:
type(d4)

dict

## **Dictionary methods.**
1. **dict.clear()** = Removes all elements of dictionary dict. 
2. **dict.copy()** = Returns a shallow copy of dictionary dict. 
3. **dict.fromkeys(seq,value)** = Create a new dictionary with keys from seq and values set to value. 
4. **dict.get(key, default=None)** = For key key, returns value or default if key not in dictionary.
5. **dict.has_key(key)** = Removed, use the in operation instead. 
6. **dict.items()** = Returns a list of dict's (key, value) tuple pairs. 
7. **dict.keys()** = Returns list of dictionary dict's keys. 
8. **dict.setdefault(key, default=None)** = Similar to get(), but will set dict[key]=default if key is not already in dict. 
9. **dict.update(dict2)** = Adds dictionary dict2's key-values pairs to dict. 
10. **dict.values()** = Returns list of dictionary dict's values.
11. **dict(zip(seq,seq1))**= Returns a dictionary containing seq as keys and seq1 as values.

In [15]:
d4={'Car':'Baleno','Average':'21kmph','Class':4,'Color':'Blue'}

In [16]:
d4.clear()
d4

{}

In [27]:
d4={'Car':'Amaze','Average':'19kmph','Class':1,'Color':'White'}
d5=d4.copy()
print('d5: ',d5)
print('id(d4): ',id(d4))
print('id(d5): ',id(d5)) #hence we notice that id's are not same in both.

d5:  {'Car': 'Amaze', 'Average': '19kmph', 'Class': 1, 'Color': 'White'}
id(d4):  140689886554224
id(d5):  140689886553824

In [29]:
d6={}
d6==d4
print(id(d4))
print(id(d6))

140689886554224
140689886488928

In [18]:
values=('Ravi',10,'M')
keys=('Name','Age','Gender')
d6=dict.fromkeys(keys,values)
d6

{'Name': ('Ravi', 10, 'M'),
 'Age': ('Ravi', 10, 'M'),
 'Gender': ('Ravi', 10, 'M')}

In [19]:
d7=dict(zip(keys,values))
d7

{'Name': 'Ravi', 'Age': 10, 'Gender': 'M'}

In [20]:
d7.keys()

dict_keys(['Name', 'Age', 'Gender'])

In [21]:
d7.values()

dict_values(['Ravi', 10, 'M'])

In [22]:
d7.items()

dict_items([('Name', 'Ravi'), ('Age', 10), ('Gender', 'M')])

In [23]:
d7.get('Age')

10

In [24]:
d8={'Name':'Diya','Age':7,'Class':4}
d9={'Name':'Mirza','Age':12,'Class':5}

In [25]:
d8.update(d9)
d9

{'Name': 'Mirza', 'Age': 12, 'Class': 5}

In [26]:
d10={'Name':'Diya','Age':7,'Class':4}
d11={'Gender':'F','Course':'Economics','Color':'Red'}
d11.update(d10)
d11

{'Gender': 'F',
 'Course': 'Economics',
 'Color': 'Red',
 'Name': 'Diya',
 'Age': 7,
 'Class': 4}

## **Dictionary Comprehensions.**
* Dictionary comprehension is a method for transforming one dictionary into another dictionary.  
* A dictionary comprehension allows you to run a for loop on a dictionary and do something on each item like transforming or filtering, and returns a new dictionary.
* Unlike a for loop, a dictionary comprehension offers a more expressive and concise syntax when you use it correctly.
* **Like list comprehension**s, Python **allows** dictionary comprehensions. 
* We can create dictionaries using simple expressions.
* Here is the general syntax for a dictionary comprehension:<br />
![image.png]()
* This dictionary comprehension expression returns a **new dictionary** whose item specified by the expression **key: value**

In [ ]:
keys=[1,2,3,4]
values=['a','b','c','d']
d12={k:v for k,v in zip(keys,values)}
d12

{1: 'a', 2: 'b', 3: 'c', 4: 'd'}

In [ ]:
#we can also make dictionary more automatically like in list.
d13={x:x**2 for x in [1,2,3,4]}
d13

{1: 1, 2: 4, 3: 9, 4: 16}

In [ ]:
d14={x.upper():x*3 for x in 'coding'}
d14

{'C': 'ccc', 'D': 'ddd', 'G': 'ggg', 'I': 'iii', 'N': 'nnn', 'O': 'ooo'}

In [ ]:
d15={x:x**3 for x in range(10) if x%2==0 }
d15

{0: 0, 2: 8, 4: 64, 6: 216, 8: 512}

In [30]:
#Using Python dictionary comprehension to transform a dictionary
stocks = {
    'AAPL': 121,
    'AMZN': 3380,
    'MSFT': 219,
    'BIIB': 280,
    'QDEL': 266,
    'LVGO': 144
}

new_stocks = {symbol: price * 1.02 for (symbol, price) in stocks.items()}

print(new_stocks)

{'AAPL': 123.42, 'AMZN': 3447.6, 'MSFT': 223.38, 'BIIB': 285.6, 'QDEL': 271.32, 'LVGO': 146.88}

In [ ]:
#Using Python dictionary comprehension to filter a dictionary
#To select stocks whose prices are greater than 200, you may use the following for loop:
stocks = {
    'AAPL': 121,
    'AMZN': 3380,
    'MSFT': 219,
    'BIIB': 280,
    'QDEL': 266,
    'LVGO': 144
}

selected_stocks = {}
for symbol, price in stocks.items():
    if price > 200:
        selected_stocks[symbol] = price

print(selected_stocks)

{'AMZN': 3380, 'MSFT': 219, 'BIIB': 280, 'QDEL': 266}

In [ ]:
#The following example uses the dictionary comprehension with an if clause to get the same result:
stocks = {
    'AAPL': 121,
    'AMZN': 3380,
    'MSFT': 219,
    'BIIB': 280,
    'QDEL': 266,
    'LVGO': 144
}

selected_stocks = {s: p for (s, p) in stocks.items() if p > 200}

print(selected_stocks)

{'AMZN': 3380, 'MSFT': 219, 'BIIB': 280, 'QDEL': 266}